.front-img {
    display: block;
    margin: 10px 0;
    height: 150px;
    width: 266px;
    transition: all 0.5s;
}

.front-img--single {
    display: flex;
    background-size: cover;
    width: 360px;
    height: 240px;
}

.content {
    font-size: 18px !important;
}

.content h5 {
    font-size: 18px !important;
}

@media (max-width: 360px) {

  .site-footer__col-four{
      margin-bottom: 20px;
  }
    .front-img--single {
        display: flex;
        background-size: cover;
        width: 240px;
        height: 180px;
        margin: 15px 0;
    }

    h1.page-banner__title {
        font-size: 22px;
    }

    .page-banner p {
        font-size: 16px;
    }

    .content {
        font-size: 18px !important;
    }

    .content h5 {
        font-size: 18px !important;
        font-weight: 400;
    }
}

@media (max-width: 375px) {
      .site-footer__col-four{
      margin-bottom: 30px;
  }
    .front-img--single {
        display: flex;
        background-size: cover;
        width: 280px;
        height: 180px;
        margin: 15px 0;
    }

    h1.page-banner__title {
        font-size: 28px;
    }

    .page-banner p {
        font-size: 18px;
    }

    .content {
        font-size: 18px !important;
    }

    .content h5 {
        font-size: 18px !important;
        font-weight: 400;
    }
}

.front-img--single img {
    width: 100%;
    height: 100%;
}

.front-img:hover {
    transform: scale(1.1);
}

.full-width {
    width: 100%;
    height: 100%;
}

footer .author {
    display: block;
    background: #222222;
    color: ghostwhite;
    font-size: 17px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

footer .author a {
    text-decoration: none;
    color: #55acee;
}


.game-box{
    position: relative;
    width: 400px;
    height: 240px;

}

.game-box img{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;

}

.game-box .game-info{
    margin-left: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: ghostwhite;
    text-transform: capitalize;
}

.game-info a{
    text-decoration: none;
    color: ghostwhite;
}

.game-info .cat_name{
    display: inline-block;
    padding: 5px 8px;
    background: #222222;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.game-info .game-title{
    margin: 0;
    font-size: 1.8rem;
}

.game-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.game-post{
    margin-left: 20px;
    margin-bottom: 15px;
    transform: scale(1);
    transition: all 0.5s ease-in;

}

.game-post:hover{
    transform: scale(1.1);
    box-shadow: 4px 2px 2px #777;
}

.game-container:hover .game-post:not(:hover){
    transform: scale(0.9);
}