.headline {
  margin: 0;
  font-family: 'Lato Light', sans-serif;
  font-weight: 300;

  &--large {
    font-size: 3.6rem;
    @mixin atSmall {
      font-size: 6.25rem;
    }
  }

  &--large-medium {
    font-size: 5rem;
    margin: 0 0 1rem 0;
  }

  &--medium {
    font-size: 1.9rem;
    margin-bottom: .75rem;
    @mixin atSmall {
      font-size: 3.125rem;
    }
  }

  &--small-plus {
    font-family: 'Lato', sans-serif;
    font-size: 1.6875rem;
    font-weight: 400;
    margin-bottom: 1.9rem;
  }

  &--small {
    font-size: 1.2rem;
    margin-bottom: 1.9rem;
    @mixin atSmall {
      font-size: 1.6875rem;
    }
  }

  &--smaller {
    font-size: 1.5rem;
  }

  &--tiny {
    font-family: 'Lato', sans-serif;
    font-size: 1.3875rem;
    margin-bottom: .25rem;
  }

  &--post-title a {
    color: $mainBlue;
    text-decoration: none;
  }

  &--post-title a:hover {
    text-decoration: underline;
  }

}