/* Customize Login Screen */
body.login .button-primary {
  background-color: $darkOrange;
  border-color: color($darkOrange b(+10%));
  text-shadow: 0 -1px 1px color($darkOrange b(+15%)),1px 0 1px color($darkOrange b(+15%)),0 1px 1px color($darkOrange b(+15%)),-1px 0 1px color($darkOrange b(+15%));
  box-shadow: 0 1px 0 color($darkOrange b(+20%));
}

body.login .button-primary:hover,
body.login .button-primary:active,
body.login .button-primary:focus {
  background-color: color($darkOrange b(+7%));
  border-color: color($darkOrange b(+15%));
  text-shadow: 0 -1px 1px color($darkOrange b(+20%)),1px 0 1px color($darkOrange b(+20%)),0 1px 1px color($darkOrange b(+20%)),-1px 0 1px color($darkOrange b(+20%));
  box-shadow: 0 1px 0 color($darkOrange b(+25%));
}

body.login {
  background-color: $beige;
}

.login h1 a {
  color: $mainBlue;
  font-size: 30px;
  font-weight: 300;
  background-image: none;
  width: auto;
  height: auto;
  text-indent: 0;

}