.page-banner {
  background-color: #000;
  padding: 80px 0 40px 0;
  position: relative;
  @mixin atSmall {
    padding: 130px 0 60px 0;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: 'Lato Light', sans-serif;
    font-weight: 300;
    font-size: 3.6rem;
    margin: 0 0 1rem 0;
    color: #FFF;
    @mixin atSmall {
      font-size: 5rem;
    }
  }

  &__bg-image {
    opacity: .33;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__intro {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #EDEDED;
    @mixin atSmall {
      font-size: 1.65rem;
    }
  }

  &__intro p {
    margin: 0;
  }
}